 <div data-include="/common/header.html"></div>

 <div class="container">
    <!-- write your html code here-->
    <h3>SOLICITUD DE CHEQUERA</h3>
  </div>
  <script src="/js/csi.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/clientSocket.js"></script>
  <div class="container">
  	<form>
  		<label for="inputFieldD">CODIGO USUARIO</label>
    	<input type="number" class="form-control" id="id_cliente" required>
    	<br>
		<button onclick="solicitarChequera()" class="btn btn-primary">SOLICITAR CHEQUERA</button>		
  	</form>
  </div>
  <script src="/js/csi.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/clientSocket.js"></script>
  <script src="/js/client.js"></script>	
</body>
</html>