<div data-include="/common/header.html"></div>
<div class="container">
    <h3>Status de Carga Masiva Cheques</h3>
    <button type="button" class="btn btn-primary"><small>Iniciar Carga</small></button>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Banco</th>
            <th scope="col">Numero Cheque</th>
            <th scope="col">Monto</th>
            <th scope="col">Cuenta Destino</th>
            <th scope="col">Fecha Cheque</th>
            <th scope="col">Status</th>
            <!--Cajero-->
            <!--Agencia-->
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/csi.min.js"></script>
</body>
</html>