<div data-include="/common/header.html"></div>

<div class="container">
   <!-- write your html code here-->
   <h3>Transferencia Fondos</h3>
 </div>
 <div class="container">
		<label for="inputFieldD">USUARIO(Empleado del banco)</label>	
		<input type="number" class="form-control" id="id_usuario" onkeypress="return event.charCode >= 48" min="1" required>
		<label for="inputFieldD">AGENCIA</label>
		<input type="number" class="form-control" id="id_agencia" onkeypress="return event.charCode >= 48" min="1" required>
		<label for="inputFieldD">CUENTA ORIGEN</label>
    	<input type="number" class="form-control" id="id_cuentao" onkeypress="return event.charCode >= 48" min="1" required>
		<label for="inputFieldN">CUENTA DESTINO</label>
    	<input type="number" class="form-control" id="id_cuentad" onkeypress="return event.charCode >= 48" min="1" required>
        <label for="inputFieldN">MONTO</label>
    	<input type="number" class="form-control" id="id_monto" onkeypress="return event.charCode >= 48" min="1" required>
        <br>
        <button onclick="realizarTransferencia()" class="btn btn-primary">REALIZAR TRANSFERENCIA</button>
  		<a class="btn" href="/"> Cancel </a>
</div>
</body>
 <script src="/js/csi.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/js/clientSocket.js"></script>
 <script src="/js/transferencia_fondos/transferencia_fondos.js"></script>
</html>