<div data-include="/common/header.html"></div>

  <!--DatePicker-->
  <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css"> 
  <script src="https://unpkg.com/js-datepicker"></script>
  <!---->>

    <div class="container">
            <h2>Nueva Agencia</h2>
            <div class="form-row">
                <div class="form-group row-sm-4">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" id="_inputNombre">
                </div>
                <div class="form-group row-sm-4">
                    <label for="inputDireccion">Direccion</label>
                    <input type="text" class="form-control" id="_inputDireccion">
                </div>
                <div class="form-group row-sm-4">
                    <label for="inputBirthday">Fecha Apertura</label>
                    <input type="text" class="form-control"  id="_inputFecha_Nac">
                </div>
                <div class="form-group row-sm-4">
                    <label for="inputbanco">Banco</label>
                    <select id="inputbanco"  class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <button type="button" class="btn btn-success" onclick="creacionAgencias()">Creacion Agencia</button>
                </div>
            </div>
    </div>
  <script src="/js/csi.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client-js/manageDatePicker.js"></script>
  <script src="/js/clientSocket.js"></script>
  <script src="/js/agencias/adminAgencias.js"></script>
  <script>
    loadDatePicker();
  </script>
</body>
</html>