<div data-include="/common/header.html"></div>
  <div class="container">
    <!-- write your html code here-->
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/agencias/nuevo';">Crear Nueva Agencia</button>
    <h3>Agencias</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Banco</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody id="tablaAgencia">
        </tbody>
      </table>
  </div>
  <script src="/js/csi.min.js"></script>
  <script src="/js/agencias/principal-script-agencias.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/agencias/agenciasSocket.js"></script>
  <script>
    socket.emit('obtener-agencias',null);
  </script>
</body>
</html>