<div data-include="/common/header.html"></div>
  <div class="container">
    <!-- write your html code here-->
    <button type="button" class="btn btn-outline-dark" onclick="location.href+='/new';">Create New Account</button>
    <h3>Account's User</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">No-Cuenta</th>
            <th scope="col">Estado</th>
            <th scope="col">Saldo</th>
            <th scope="col">Reserva</th>
            <th scope="col">Disponible</th>
            <th scope="col">Fecha de Apertura</th>
          </tr>
        </thead>
        <tbody id="_tableClientsBody">
            
        </tbody>
      </table>
      
      
  </div>
  <script src="/js/csi.min.js"></script>
  <script src="/js/account-js/list-account-script.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/clientSocket.js"></script>
  <script>
    //socket.emit('get-all-accounts-client',null);
  </script>
</body>
</html>
