<div data-include="/common/header.html"></div>
 
    <div class="container">
            <h1>New Account</h1>
            <h2>Complete los campos</h2>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    
                    <!--<div class="col-sm-4 col-md-4">!-->
                        <label  for="inputEstado">
                            <span class="input-group-addon">Estado <i class="glyphicon glyphicon-alert"></i></span>
                        </label>
                        <select id="_inputEstado" class="form-control">
                        <option value="Activa">Activa</option>
                        <option value="Cancelada">Cancelada</option>
                        <option value="Bloqueada">Bloqueada</option>
                        </select> 
                    <!--</div>!-->
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputSaldo">
                        <span class="input-group-addon">Saldo <i class="glyphicon glyphicon-usd"></i></span>
                    </label>
                    <input type="number" step="0.01" class="form-control" id="_inputSaldo">
                </div>
                
            </div>
            <hr/>
            <div class="form-row">
                <div class="form-group col-sm-6">
                        <label for="inputReserva">
                            <span class="input-group-addon">Reserva <i class="glyphicon glyphicon-registration-mark"></i></span>
                        </label>
                        <input type="number" step="0.01" class="form-control" id="_inputReserva">
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDisponible">
                        <span class="input-group-addon">Disponible <i class="glyphicon glyphicon-ok"></i></span>
                    </label>
                    <input type="number" step="0.01" class="form-control" id="_inputDisponible">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <button type="button" class="btn btn-success" onclick="emitCreationAccount_User()">Create Account</button>
                </div>
            </div>  
    </div>
  <script src="/js/csi.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/clientSocket.js"></script>
  <script src="/js/account-js/create-account-script.js"></script>
  <script>
  </script>
</body>
</html>

