<div data-include="/common/header.html"></div>

<div class="container">
   <!-- write your html code here-->
   <h3>Cancelacion Cheque Robado/Extraviado</h3>
 </div>
 <div class="container">
    <form>
    	<label for="inputFieldD">NUMERO_DPI</label>
    	<input type="text" class="form-control" id="id_numcheque" required>
		<label for="inputFieldN">NUMERO_CUENTA</label>
    	<input type="number" class="form-control" id="id_numchequera" required>
        <br>
        <button onclick="consultarSaldo()" class="btn btn-primary">CONSULTAR SALDO</button>
  		<a class="btn" href="/consulta_saldos"> Cancel </a>
    </form>
    </div>
</body>
 <script src="/js/csi.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/js/clientSocket.js"></script>
 <script src="/js/consulta_saldos/consulta_saldos.js"></script>
</html>