<div data-include="/common/header.html"></div>

<div class="container">
   <!-- write your html code here-->
   <h3>Listado Usuarios Sistema Bancos</h3>
 </div>
   <div class="container">
       <table class="table">
             <thead>
               <tr>
                     <th scope="col">Codigo Rol</th>
                     <th scope="col">Nombre</th>
                     <th scope="col">Descripcion</th>
                     <th scope="col">Rango</th>
                     <th scope="col">Accion</th>
                     <th scope="col">Accion</th>
               </tr>
           </thead>
           <tbody id="tabla_roles">
           </tbody>
       </table>
   </div>
</body>
 <script src="/js/csi.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/js/clientSocket.js"></script>
 <script src="/js/roles/roles.js"></script>
</html>